<li>
  <%= link_to "javascript:;", data: {toggle:"collapse", target: "##{category_children_list.id}" }, class: 'collapse_toggle' do %>
    <%= category_children_list.name %>
    <i class="fa fa-plus"></i>
  <% end %>
  <ul id="<%= category_children_list.id %>" class="collapse collapseItem">
    <% category_children_list.root.leaves.each do |sub_category| %>
      <li>
        <%= link_to potepan_category_path(sub_category.id) do %>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <%= sub_category.name %> <span>(<%= sub_category.products.count %>)</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
