<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav category_nav">
        <%= render partial: 'category_children_list', collection: taxonomies %>
      </ul>
    </div>
  </div>
</div>
