<% provide(:title, @taxon.name) %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar"> 
        <%= render 'product_category_list', taxonomies: @taxonomies %>
        <%= render 'color_category_list' %>
        <%= render 'size_category_list' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <%= render 'grid_show', taxon_product: @taxon_products %>
        </div>
      </div>
    </div>
  </div>
</section>
