<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render "layouts/shared/header" %>
    <%= render "layouts/shared/header_light_section", page_title: yield(:title) %>
    <%= yield %>
    <%= render "layouts/shared/modal" %>
    <%= render "layouts/shared/footer_light_section" %>
    <%= render "layouts/shared/footer" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
